@charset "UTF-8";
@import url("menu-hamburguer.css");

:root {
    --cor-background: #020c1b;
    --cor-background2: #0a192f;
    --cor-backgroun3: #112240;
    --cor-backgroun4: #233554;
    --cor-backgroun5: rgba(2, 12, 27, 0.7);
    --cor-backgroun6: #8892b0;
    --cor-backgroun7: #64ffda;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgba(36, 36, 36, 0.815)
}

@media screen  and (max-width: 600px) {
    .container {
        display: block;
        
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        background: var(--cor-backgroun3);
        width: 100%;
        position: relative;
    }
   
    header a img {
        width: 150px;
        margin-left: -10px;
    }

    #nav.active .menu{
        height: calc(100vh - 50px);
        visibility: visible;
        overflow-y: auto;
    }
    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 49px;
        right: 0;
        background:var(--cor-backgroun4);
        height: 0;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    
    .menu li {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(172, 172, 172, 0.212);
    }
}